# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/

# Virtual environment
.venv/

# IDE
.idea/
.vscode/
*.iml
*.iws

# Testing & coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Type checking
.mypy_cache/

# Linting
.ruff_cache/

# pyenv
.python-version
